
<section id="drag-gallery">
	<img class="image" src="images/tile1.jpg">
	<img class="image" src="images/tile2.jpg">
	<img class="image" src="images/tile3.jpg">
	<img class="image" src="images/tile4.jpg">

	<img class="image" src="images/tile5.jpg">
	<img class="image" src="images/tile6.jpg">
	<img class="image" src="images/tile7.jpg">
	<img class="image" src="images/tile8.jpg">

	<div id="mouse-img"></div>

</section>